/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

a {
  @apply text-blue-500 hover:text-blue-700;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo {
  position: relative;
}
.logo p {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  color: #ffbd59;
  position: absolute;
  top: 64px;
  left: 30px;
  transform: skewY(-7deg);
}
.logo img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
